DJANGO_SETTINGS_MODULE=config.settings.production
SECRET_KEY=replace-with-long-random-secret
DEBUG=False
ALLOWED_HOSTS=team17.st.ifbest.org,127.0.0.1,localhost

CSRF_TRUSTED_ORIGINS=https://team17.st.ifbest.org

# На VDS куратора нет PostgreSQL — используем SQLite
USE_SQLITE=True

CORS_ALLOWED_ORIGINS=https://team17.st.ifbest.org,http://localhost:5173,http://127.0.0.1:5173
